# DATA

In [392]:
# impor libraries
import pandas as pd
import numpy as np

In [393]:
#reading files and adding colums
col_names = ['user1', 'user2', 'Time']
file1 = pd.read_csv(r"data/sx-stackoverflow-a2q.txt", header=None,names=col_names,sep=" ")
file2 = pd.read_csv(r"data/sx-stackoverflow-c2a.txt", header=None,names=col_names,sep=" ")
file3 = pd.read_csv(r"data/sx-stackoverflow-c2q.txt", header=None,names=col_names,sep=" ")

## convert Time in reasonable format

In [394]:
'''
def conversion_time(Time_col):
    '''
    #INPUT: Time column in seconds from epoch
    #OUTPUT: days,hours,minutes derived from seconds
    '''
    days=[]
    hours=[]
    minutes=[]

    seconds_in_day = 60 * 60 * 24
    seconds_in_hour = 60 * 60
    seconds_in_minute = 60

    for i in range(len(Time_col)):
        seconds=Time_col[i]
        
        days.append(seconds // seconds_in_day)
        hours.append( (seconds - (days[i] * seconds_in_day)) // seconds_in_hour)
        minutes.append( (seconds - (days[i] * seconds_in_day) - (hours[i] * seconds_in_hour)) // seconds_in_minute)

    return(days,hours,minutes)
'''

IndentationError: unexpected indent (4078748103.py, line 6)

In [395]:


def conversion_time(Time_col):
    '''
    INPUT: Time column in seconds from epoch= 1970
    OUTPUT: years,months,days derived from seconds 
    '''
    day=[]
    days=[]
    months=[]
    years=[]
    
    
    seconds_in_day = 60 * 60 * 24
    
    for i in range(len(Time_col)):
        seconds=Time_col[i]

        #int number of days from 1970
        day.append(seconds // seconds_in_day)

        years.append(day[i] // 365)
        months.append( (day[i] - years[i] *365) // 30)
        days.append( (day[i] - years[i] * 365 - months[i]*30) )


    return([1970+year for year in years],months,days)

In [396]:
years,months,days=conversion_time(file1.Time)

In [ ]:

score=[10 for i in range(len(years))]

In [ ]:
file1['days']=days
file1['months']=months
file1['years']=years
#encode answers with 10
file1['score']=score

In [ ]:
file1.head(10)

   user1  user2        Time  days  months  years  score
0      9      8  1217567877    12       7   2008     10
1      1      1  1217573801    12       7   2008     10
2     13      1  1217606247    12       7   2008     10
3     17      1  1217617639    12       7   2008     10
4     48      2  1217618182    12       7   2008     10
5     17      1  1217618239    12       7   2008     10
6     19      9  1217618357    12       7   2008     10
7     13     23  1217618560    12       7   2008     10
8     13     11  1217618799    12       7   2008     10
9     23     23  1217619360    12       7   2008     10

Produce the same dataframe also for file2 and file3

In [ ]:
file2.head(5)

   user1    user2        Time
0      1       91  1220713630
1      3       91  1220713792
2    380      350  1220715736
3   4642     2257  1220734307
4   4642  1324220  1220735746

In [ ]:
years,months,days=conversion_time(file2.Time)

In [ ]:
file2['days']=days
file2['months']=months
file2['years']=years
#encoded the comments to question  with 5
score=[5 for i in range(len(years))]
file2['score']=score

In [ ]:
file2.head(5)

   user1    user2        Time  days  months  years  score
0      1       91  1220713630    18       8   2008      5
1      3       91  1220713792    18       8   2008      5
2    380      350  1220715736    18       8   2008      5
3   4642     2257  1220734307    18       8   2008      5
4   4642  1324220  1220735746    18       8   2008      5

In [389]:
#terzo file
file3.head(5)

   user1  user2        Time
0   4550   4550  1220729190
1    242    184  1220733503
2   4213   4946  1220768149
3     91     91  1220768295
4   2658   1874  1220771891

In [390]:
years,months,days=conversion_time(file3.Time)

In [391]:
file3['days']=days
file3['months']=months
file3['years']=years
#encoded the comments to answer  with 2
score=[2 for i in range(len(years))]
file3['score']=score

KeyboardInterrupt:

### Merge file1, file2 and file 3 in one file

In [223]:
file=pd.concat([file1,file2,file3])

In [224]:
file=file.sort_values(['years','months','days'],ascending=[True,True,True])
file = file.reset_index(drop=True)

In [225]:
file

            user1    user2        Time  days  months  years
0               9        8  1217567877    12       7   2008
1               1        1  1217573801    12       7   2008
2              13        1  1217606247    12       7   2008
3              17        1  1217617639    12       7   2008
4              48        2  1217618182    12       7   2008
...           ...      ...         ...   ...     ...    ...
63497045  1177890  4917254  1457273216    16       2   2016
63497046  3345375  4022289  1457273328    16       2   2016
63497047  3507137  1801524  1457273391    16       2   2016
63497048  5617035  4368648  1457273425    16       2   2016
63497049  5579164  5579164  1457273428    16       2   2016

[63497050 rows x 6 columns]

In [258]:
file.shape[0]

63497050

In [230]:
file.iloc[0::10000000]

            user1    user2        Time  days  months  years
0               9        8  1217567877    12       7   2008
10000000    82187   607314  1311152478     0       7   2011
20000000   952296   498688  1347638837    27       8   2012
30000000   819887  1276130  1374814975     7       7   2013
40000000  1668533  3457998  1398692233     8       4   2014
50000000   301832  1578604  1425361744    12       2   2015
60000000  5593674  5221149  1449156534    17      11   2015

create a new column with the final date

In [308]:
from tqdm import tqdm
date=[]
for i in tqdm(range(file.shape[0])):#file.shape[0]):
    day=file.days[i]
    month=file.months[i]
    year=file.years[i]
    date.append([year,month,day])

100%|██████████| 4036934/4036934 [01:37<00:00, 41348.43it/s]

(63497050, 6)

In [311]:
file['date']=date

In [312]:
file.head(5)

   user1  user2        Time  days  months  years           date
0      9      8  1217567877    12       7   2008  [2008, 7, 12]
1      1      1  1217573801    12       7   2008  [2008, 7, 12]
2     13      1  1217606247    12       7   2008  [2008, 7, 12]
3     17      1  1217617639    12       7   2008  [2008, 7, 12]
4     48      2  1217618182    12       7   2008  [2008, 7, 12]

 drop days,months and years from dataframe

In [313]:
file.drop('days',inplace=True,axis=1)

In [315]:
file.drop('months',inplace=True,axis=1)
file.drop('years',inplace=True,axis=1)
file.drop('Time',inplace=True,axis=1)

In [318]:
file.head(10)

   user1  user2           date
0      9      8  [2008, 7, 12]
1      1      1  [2008, 7, 12]
2     13      1  [2008, 7, 12]
3     17      1  [2008, 7, 12]
4     48      2  [2008, 7, 12]
5     17      1  [2008, 7, 12]
6     19      9  [2008, 7, 12]
7     13     23  [2008, 7, 12]
8     13     11  [2008, 7, 12]
9     23     23  [2008, 7, 12]

starting from this we can construct a dictionary

### create a dictionary with the following logic
* key= (userA,userB)==(userB,userA) since the interaction is symmetric --> indirect graph
* value=[day1,day2,...]  =list of days in which userA and userB have interacted

In [332]:
diz={}
diz['a']=[12]
diz['a'].append(13)
try:
    diz['b'].append(10)
except:
    diz['b']=[10]

In [333]:
diz

{'a': [12, 13], 'b': [10]}

In [365]:

interactions={}
for i in tqdm(range(10)):#file.shape[0])):
    try:
        interactions[file1.user1[i]].append([file1.user2[i],file1.date[i],1])
    except:
        interactions[file1.user1[i]]=[[file1.user2[i],file.date[i],1]]

100%|██████████| 10/10 [00:00<00:00, 21788.59it/s]

In [366]:
interactions

{9: [[8, [2008, 7, 12], 1]],
 1: [[1, [2008, 7, 12], 1]],
 13: [[11, [2008, 7, 12], 1]],
 17: [[1, [2008, 7, 12], 1]],
 48: [[2, [2008, 7, 12], 1]],
 19: [[9, [2008, 7, 12], 1]],
 23: [[23, [2008, 7, 12], 1]]}

In [357]:
#dizionario di prova da salvare come json, poi salvo quello grande
interactions_prova={}
for i in tqdm(range(17823526,17823528)):
    try:
        interactions_prova[(file1.user1[i],file1.user2[i])].append(file1.date[i])
    except:
        interactions_prova[(file1.user1[i],file1.user2[i])]=[file.date[i]]

  0%|          | 0/2 [00:00<?, ?it/s]

KeyError: 17823526

In [ ]:
import json

with open("interactions_prova.json", "w") as outfile:
    json.dump(interactions_prova, outfile)